@mixin text($family:"Montserrat Alternates", $weight:400, $size: 12px, $color:$dark-text){
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}
@mixin btn($border:none, $border-rad:20px, $bg-col:$dark-text, $color:white){
    border:$border;
    border-radius:$border-rad;
    background-color:  $bg-col;
    color: $color;
}