*{
    margin: 0;
    list-style-type: none;
    padding-inline-start: 0;
}
.container{
    position: relative;
    z-index: 1;
    width: 1090px;
    height: max-content;
    margin: 0 auto;
    padding-inline: 10px; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color:$white;
}
.main-bg{
    background-image: url('/img/mainBg.svg');
    background-repeat: no-repeat;
     background-size: cover;
    background-color:$mainBg-col;
}