.outputtexty{
  font-family: Montserrat Alternates;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 252;
  height: 15;
  display: flex;
  justify-content: center;
  padding-top:10px;
}
.maxnumblok{
  width: 481;
  height: 35;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding-top: 20px;
}
.maxnuminput{
  width: 100px;
  height: 20px;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px; 
  background-color: #D7D7D7;
  border-color: #D7D7D7 ;
  border: 1px;
    width: 140px;
    margin: 0 20px;
    padding: 10px 0;
    box-shadow: 3px 3px 0px 0px #00000040;
 padding-left: 10px;
}