.numberblok{
  & .central-div{
    padding-bottom: 0px;
  }
  padding-bottom: 30px;
}
.guess-number-sec{
  display: flex;
  margin-top: 35px;
  gap: 200px;
}
.guess-number-search{
  position: relative;
  & .btn-main{
    position: absolute;
    left: 130px
  };
}
.outputNtext{
  @include text($color:$rightAnswerColor);
  text-align: right;
  min-width: 224px;
}

.guessNinput{
  position: relative;
  @include text();
        padding-left: 10px;
        max-width: 204px;
        height: 35px;
        border: none;
        border-radius: 20px;
        background-color: #D7D7D7;
        box-shadow: 3px 3px 0px 0px #00000040;
        &:focus{
          outline: none;
        }
}
