.switch-container{
    width: 107px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: -156px;
}
.switch{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    cursor: pointer;
}
.switch .switcher{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 11px;
    background-color: $sliderBackground;
}
.slider::before{
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background-color: $white;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
    border: 0.5px $black solid;
}
.switcher:checked + .slider::before{
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}