.stone-scissors-paper{
    display: flex;
    position: relative;
    & > .central-div{
        padding-top: 0;
    }
}
.central-div{
    width: 536px;
    padding: 36px 0;
    margin: 0 auto;
    @include text();
    text-align: center;
    & .com-btn{
        width: 182px;
        height: 35px;
        margin-top: 35px;
        @include btn();
    }
    & .stone-scissors-paper-result{
        margin-top: 35px;
    }
}
.title{
    @include text($size:16px);
    padding-top: 36px;
    border-top: solid 2px $dark-text;
}
.btn-ul{
    display: flex;
    gap: 38px;
    width: 256px;
    margin: 35px auto 0px;
    padding: 0;
}
.game-btn{
    width: 60px;
    height: 60px;       
    padding: 0;
    @include btn();
    & svg{
        margin: 0 auto;
    }
}
.score{
    @include text();
    position: absolute;
    padding: 0;
    top: 93px;
    left: 500px;
    & p{
        margin-bottom: 7px;
        width: max-content;
    }
}
