.time-calculator{
    display: flex;
    padding-block: 36px;
    align-items: center;
    flex-wrap: wrap;
    width: 536px;
    row-gap: 36px;
    column-gap: 33px;
}
.time-calculator-input{
    position: relative;
    width: 150px;
    margin-left: 35px;
}
.time-calculator-title{
    @include text($size: 15px);
    padding-top: 36px;
    width: 536px;
    border-top: 2px solid $black;
    text-align: center;
    margin: auto 0;
    justify-self: center;
}
.time-calculator-result{
    @include text;
}
.time-calculator-border{
    background-image: url(/img/border.svg);
    width: 100px;
    height: 1px;
    display: block;
}