$dark-text:#000000;
$green-col:#039900;
$red-col:#990000;
$dark-grey:#797979;
$white: #FFF;
$black: #000;
$sliderBackground: #7a7a7a;
$subTextColor: #7e7e7e;
$textAreaBackground: #D7D7D7;
$scientistsBackground: #d9d9d9;
$footballBackground: #5ABB58;
$mainBg-col:#F5F5F5;